* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}
h1 {
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.2;
  font-family: 'Mina', sans-serif;
  letter-spacing: 1px;
  border-top: .1rem solid black;
  padding-top: 1rem;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}
main {
  margin-top: 5.7rem;
}
a {
  font-family: 'Montserrat', sans-serif;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.75rem;
    border-top: .1rem solid black;
    padding-top: 1.25rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  main {
    margin-top: 10%;
  }
}
@media screen and (min-width: 960px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.15rem;
    line-height: 1.6;
  }
}

/* navigation starts here */
  /* mobile starts here */
    .navigationHeader {
      background-color: rgba(255, 255, 255, .6);
      position: fixed;
      top: 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 2.5rem 2rem;
      grid-template-areas: '. logo .' / 'navLinks navLinks navLinks';
      align-content: center;
      grid-row-gap: 0;
    }
    .navigationHeader .j_logo {
      grid-area: logo;
      font-size: 2rem;
      font-weight: 800;
    }
    .links {
      grid-area: navLinks;
    }
    .navigationHeader ul {
      list-style-type: none;
      -webkit-padding-start: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .navigationHeader ul li {
      margin: 0 1rem;
    }
    .links {
      width: 100%;
    }
    .links a {
      font-weight: 700;
      font: 1rem;
      color: black;
      text-decoration: none;
      padding-bottom: .7rem;
    }
    .navigationHeader a:hover {
      border-bottom-width: .5rem;
      border-bottom-color: black;
      border-bottom-style: solid;
    }
  /* mobile ends here */

  /* tablet starts here */
    @media screen and (min-width: 768px) {
      .navigationHeader {
        display: grid;
        grid-template-columns: 7% .34fr .66fr 7%;
        grid-template-areas: '. logo links .';
        align-content: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 11%;
      }
      .j_logo {
        grid-area: logo;
      }
      .navigationHeader .links {
        grid-area: links;
        font-size: 1.15rem;
      }
      .navigationHeader ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  /* tablet ends here */

  /* wide starts here */
    @media screen and (min-width: 960px) {
      .navigationHeader {
        height: 10%;
        padding-right: 3rem;
        display: grid;
        grid-template-columns: 15% .34fr .66fr 15%;
        grid-template-areas: '. logo links .'
      }
        .j_logo {
          grid-area: logo;
        }
        .navigationHeader .links {
          grid-area: links;
        }
      }

    /* wide ends here */
/* navigation ends here */


/* portfolio starts here */
  /* mobile starts here */
  .wrapper {
    padding: 2.5rem 7%;
  }
  .wrapper h1 {
    padding-bottom: .7rem;
  }
  .wrapper h2 {
    padding-bottom: 1rem;
  }
  .wrapper p {
    padding: 0 7% .2rem 0;
  }
  .wrapper img {
    width: 100%;
  }
    #graffitiTree {
      background-color: black;
      color: white;
    }
    #graffitiTree h1 {
      border-top-color: white;
    }
    #bookCovers {
      background-color: rgba(222, 194, 154, 0.5);
    }
    #bookCovers .portfolioImages {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    #bookCovers img {
      width: 46%;
      height: 46%;
    }
    #userInterface {
      background-color: rgba(235, 36, 26, 0.5);
      color: white;
    }
    #userInterface a {
      text-decoration: none;
      color: #284BC4;
      font-size: 1.5rem;
    }
  /* mobile ends here */

  /* tablet starts here */
    @media screen and (min-width: 768px) {
      .wrapper {
        padding: 3.5rem 7% 6rem 7%;
      }
      .wrapper h1 {
        padding-right: 4rem;
      }
      .wrapper h2 {
        padding-bottom: 1rem;
      }
      .wrapper p {
        padding: .5rem 3rem 1rem 0;
        max-width: 58ch;
      }
      .wrapper img {
        width: 100%;
      }
      .portfolioHeading {
        padding: 1rem 0 1rem 0;
        margin: 0 2rem 0 1rem;
      }
      #rembrandt {
        padding-top: 0;
      }
        #rembrandt .portfolioImages {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: flex-end;
        }
        #rembrandt img {
          width: 48%;
          height: auto;
        }
        #graffitiTree {
          background-color: black;
          color: white;
        }
        #graffitiTree h1 {
          border-top-color: white;
        }
        #graffitiTree img {
          height: 70vw;
          width: auto;
        }
      #bookCovers .portfolioImages {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
        }
        #bookCovers img {
          width: 48%;
          height: 48%;
        }
        #userInterface .portfolioImages {
          display: grid;
          grid-template: '1fr 1fr' '1fr 1fr';
          grid-template-areas: 'originalLink redesignLink' 'prototypeImage prototypeImage';
          grid-row-gap: 1.5rem;
        }
        #userInterface a {
          font-size: 1.5rem;
        }
        #userInterface #originalJamaicaObserver {
          grid-area: originalLink;
        }
        #userInterface #redesignJamaicaObserver {
          grid-area: redesignLink;
        }
        #userInterface img {
          grid-area: prototypeImage;
        }
      }
  /* tablet ends here */

  /* wide starts here */
  @media screen and (min-width: 960px) {
    .wrapper {
      padding: 4rem 15% 7rem 15%;
    }

  }
  /* wide ends here */
/* porfolio ends here */


/* about starts here */
  /* mobile starts here */
  #aboutContent {
    max-width: 100%;
    padding: 0 7%;
  }
  #aboutImage {
    max-width: 100%;
  }
  #aboutImage picture {
    max-width: 100%;
  }
  #aboutText p {
    padding-right: 7%;
  }
  /* mobile ends here */

  /* tablet starts here */
    @media screen and (min-width: 768px) {


      #aboutText p {
        max-width: 57ch;
      }
      #aboutText h1 {

      }
    }
  /* tablet ends here */

  /* wide starts here */
    @media screen and (min-width: 960px) {
      #aboutContent {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 15%;
      }
      #aboutImage {
        flex-grow: 1.2;
      }
      #aboutImage img {
        max-width: 90%;
      }
      #aboutText {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 90%;
      }
      #aboutText p {
        max-width: 40ch;
      }
    }
  /* wide ends here */
/* about ends here */


/* contact starts here */
  /* mobile starts here */
    #contact {
      margin: 10rem 7%;
    }
    #contact ul {
      list-style-type: none;
      -webkit-padding-start: 0;
    }
    #contact ul li a {
      color: #284BC4;
      text-decoration: line-through;
    }
    #contact ul li a:hover {
      text-decoration: none;
    }
    #contact ul li a:visited {
      color: #396908;
    }
  /* mobile ends here */

  /* tablet starts here */
    @media screen and (min-width: 768px) {
      #contact {
        margin-left: 10%;
        margin-right: 10%;
      }
    }
  /* tablet ends here */

  /* wide starts here */
    @media screen and (min-width: 960px) {
      #contact {
        margin-left: 15%;
        margin-right: 15%;
      }
      #contact p {
        max-width: 50ch;
      }
    }
  /* wide ends here */
/* contact ends here */


/* footer starts here */
  /* mobile starts here */
    .footer {
      padding: 1rem 0 3rem;
    }
    .footerTop h3 {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      font-size: 2rem;
      font-weight: 300;
    }
    .footerTop {
      text-align: center;
      font-family: 'Montserrat', sans-serif;
    }
    .footerTop a {
      text-decoration: line-through;
      text-align: center;
      color: black;
    }
    .footerTop a:hover {
      text-decoration: none;
    }
    .footerLinks ul {
      display: grid;
      grid-template-areas: 'footerNavLinks footerNavLinks footerNavLinks';
      align-content: center;
      justify-content: space-around;
      -webkit-padding-start: 0;
      list-style-type: none;
    }
    .footerLinks ul li a {
      color: black;
      text-decoration: none;
    }
    .footerLinks ul li a:hover {
      border-bottom-width: .5rem;
      border-bottom-color: black;
      border-bottom-style: solid;
      padding: 1rem 0 1rem;
    }
  /* mobile ends here */

  /* tablet starts here */
    @media screen and (min-width: 768px) {
      .footer {
        padding: 0 9%;
      }
    }
  /* tablet ends here */

  /* wide starts here */
    @media screen and (min-width: 769px) {
      .footer {
        padding: 0 15% 4rem;
      }
    }
  /* wide ends here */

/* footer ends here */
