* {
  box-sizing: border-box;
}

html {
  font-size: 100%; /* 16 px */
  font-family: Helvetica, Arial, sans-serif;
}

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Navigation starts here */
  .navigation_header {
    display: flex;
    max-width: 100%;
    background-color: 256, 256, 256, 0.7; /* Opacity */
    opacity: 65%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: 0;
    position: fixed;
    top: 0;
  }
  .navigation_header nav ul {
    list-style-image: none;
  }
  .navigation_header nav ul li.j_logo {
    margin-right: 20rem;
  }
  .navigation_header nav ul li {
    display: flex;
    flex-flow: row;
    border-bottom-width: 1rem;
    border-bottom-color: black;
    margin-right: 7rem;
  }
  .navigation_header nav ul li {

  }
  .navigation_header nav ul li a {
    font-family: helvetica;
    font-weight: 700;
    font: 1rem;
    color: black;
    text-decoration: none;
    border-bottom-width: 5rem;
    border-bottom-color: black;
  }
  .navigation_header a:hover {
    border-bottom-width: 0;
  }
/* Navigation ends here */
